<div class="card-shadow">
    <h2>{{ tableTitle }}</h2>
    <div class="configuration-services">
        <h3>usługi które posiadasz:</h3>
        <ul class="configuration-services__items">
            <li class="configuration-services__item">
                <p>lorem ipsum</p>
                <p>3,50 zł szt</p>
                <button class="btn btn--small btn--secondary">usuń</button>
            </li>
            <li class="configuration-services__item">
                <p>lorem ipsum</p>
                <p>3,50 zł szt</p>
                <button class="btn btn--small btn--secondary">usuń</button>
            </li>
            <li class="configuration-services__item">
                <p>lorem ipsum</p>
                <p>3,50 zł szt</p>
                <button class="btn btn--small btn--secondary">usuń</button>
            </li>
        </ul>
        <div class="configuration-services__actions">
            <button class="btn btn--secondary">dodaj usługę</button>
        </div>
        <hr>
        <ul class="configuration-services__items">
            <li class="configuration-services__item">
                <div class="checkbox">
                    <input type="checkbox" id="check-1">
                    <label for="check-1">lorem ipsum</label>
                </div>
                <p>3,50 zł szt</p>
            </li>
            <li class="configuration-services__item">
                <div class="checkbox">
                    <input type="checkbox" id="check-2">
                    <label for="check-2">lorem ipsum</label>
                </div>
                <p>3,50 zł szt</p>
            </li>
            <li class="configuration-services__item">
                <div class="checkbox">
                    <input type="checkbox" id="check-3">
                    <label for="check-3">lorem ipsum</label>
                </div>
                <p>3,50 zł szt</p>
            </li>
        </ul>
    </div>
</div>