<div class="new-correspondance">
    <div class="new-correspondance__heading">
        <h4>Jan Kowalski</h4>
        <div class="card-info__header">
            <table class="rwd-table">
                <tbody>
                <tr>
                    <th>ID</th>
                    <th>Nazwisko i imię</th>
                    <th>Nazwa firmy</th>
                    <th>E-mail</th>
                    <th>Akcja</th>
                </tr>
                <tr>
                    <td data-th="ID: ">
                        61578
                    </td>
                    <td data-th="Nazwisko i imię:">Jan Kowalski</td>
                    <td data-th="Nazwa firmy:">SONAR</td>
                    <td data-th="E-mail:">jkowalski@wp.pl</td>
                    <td data-th="Akcja:">Historia korespondencji</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="new-correspondance__content">
        <div class="new-correspondance__item">
            <div class="message-box">
                <div class="message-box__title">
                    <label for="title">Temat wiadomości</label>
                    <input type="text" id="title">
                </div>
                <div class="message-box__text">
                    <label for="text">Treść wiadomości</label>
                    <textarea name="text" id="text" cols="30" rows="20"></textarea>
                </div>
                <div class="message-box__actions">
                    <div class="message-box__attachments">
                        <button class="btn btn--secondary btn--gray">
                            dodaj załącznik
                        </button>
                        <input type="file" class="multi">
                    </div>
                    <div class="message-box__send">
                        <button type="submit" class="btn btn--secondary">Wyślij</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="new-correspondance__item">
            <div class="templates">
                <h4>Szablony wiadomości</h4>
                <a href="#">Dzisiejsza korespondencja</a>
                <a href="#">Dzisiejszy scan</a>
                <a href="#">Dzisiejsza korespondencja</a>
                <a href="#">Dzisiejsza korespondencja</a>
                <a href="#">Dzisiejsza korespondencja</a>
                <a href="#">Dzisiejsza korespondencja</a>
                <a href="#">Dzisiejsza korespondencja</a>
                <a href="#">Dzisiejsza korespondencja</a>
                <a href="#">Dzisiejsza korespondencja</a>
                <a href="#">Dzisiejsza korespondencja</a>
                <a href="#">Dzisiejsza korespondencja</a>
            </div>
        </div>
    </div>
</div>