<div class="card-shadow">
    <h2>{{ tableTitle }}</h2>
    <table class="rwd-table table-files-storage">
    <h3>scan</h3>
        <tbody>
            <tr>
                <th></th>
                <th>nazwa</th>
                <th>data wysłania</th>
                <th>format</th>
                <th></th>
            </tr>
            <tr>
                <td data-th="zaznacz:">
                    <div class="checkbox">
                        <input type="checkbox" id="check-1">
                        <label for="check-1"></label>
                    </div>
                </td>
                <td data-th="nazwa:">lorem ipsum</td>
                <td data-th="data wysłania:">01.02.2016</td>
                <td data-th="format:">PDF</td>
                <td>
                    <div class="table-files-storage__actions">
                        <button class="btn btn--secondary btn--small btn--pink">podgląd</button>
                        <button class="btn btn--secondary btn--small">pobierz</button>
                    </div>   
                </td>
            </tr>
            <tr>
                <td data-th="zaznacz:">
                    <div class="checkbox">
                        <input type="checkbox" id="check-2">
                        <label for="check-2"></label>
                    </div>
                </td>
                <td data-th="nazwa:">lorem ipsum</td>
                <td data-th="data wysłania:">01.02.2016</td>
                <td data-th="format:">PDF</td>
                <td>
                    <div class="table-files-storage__actions">
                        <button class="btn btn--secondary btn--small btn--pink">podgląd</button>
                        <button class="btn btn--secondary btn--small">pobierz</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn--secondary">synchronizuj dane</button>
</div>