<form class="form-add">
    <h2>{{ tableTitle }}</h2>
    <div class="form-group form-group--full-width">
        <label for="name" class="form-add__heading">Nazwa firmy</label>
        <input type="text" id="name" placeholder="POLE OBOWIĄZKOWE">
    </div>
    <div class="form-group form-group--full-width">
        <label for="address-contract" class="form-add__heading">Adres do umowy</label>
        <input type="text" id="address-contract" placeholder="POLE OBOWIĄZKOWE">
    </div>
    <div class="columns">
        <div class="columns__item">
            <div class="form-group">
                <label for="post" class="form-add__heading">Kod pocztowy do umowy</label>
                <input type="text" id="post" placeholder="xx-xxx">
            </div>
            <div class="form-group">
                <label for="nip-contract" class="form-add__heading">NIP do umowy</label>
                <input type="number" id="nip-contract">
            </div>
            <div class="form-group">
                <label for="regon" class="form-add__heading">REGON</label>
                <input type="text" id="regon">
            </div>
            <div class="form-group">
                <label for="authorisation" class="form-add__heading">Pełnomocnictwo</label>
                <select id="authorisation">
                    <option value="pełne">Pełne</option>
                    <option value="ograniczone">Ograniczone</option>
                    <option value="brak">Brak</option>
                </select>
            </div>
        </div>
        <div class="columns__item">
            <div class="form-group">
                <label for="city-contract" class="form-add__heading">Miejscowość do umowy</label>
                <input type="text" id="city-contract">
            </div>

            <div class="form-group">
                <label for="krs" class="form-add__heading">KRS</label>
                <input type="number" id="krs">
            </div>

            <div class="form-group">
                <label for="post-box" class="form-add__heading">Skrytka pocztowa</label>
                <input type="text" id="post-box">
            </div>
            <div class="form-group">
                <label class="form-add__heading">Firma potwierdziła dokumenty NIP / REGON</label>
                <div class="checkbox">
                    <input id="check-yes" name="radio" type="radio">
                    <label for="check-yes">tak</label>
                </div>
                <div class="checkbox">
                    <input id="check-no" name="radio" type="radio">
                    <label for="check-no">nie</label>
                </div>
            </div>
        </div>
        <div class="columns__item">
            <div class="form-group">
                <label class="form-add__heading">Kluczyk do skrytki</label>
                <div class="checkbox">
                    <input id="choice-1" name="radio" type="radio">
                    <label for="choice-1">w biurze</label>
                </div>
                <div class="checkbox">
                    <input id="choice-2" name="radio" type="radio">
                    <label for="choice-2">w posiadaniu klienta</label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group form-group--full-width">
        <label for="address" class="form-add__heading">Adres do korespondencji</label>
        <textarea id="address" cols="30" rows="10"></textarea>
    </div>
    <div class="form-group form-group--full-width">
        <label for="address-email" class="form-add__heading">Adres email do wysyłki faktur</label>
        <input type="email" id="address-email">
    </div>
    <div class="form-group form-group--full-width">
        <label for="address-texture" class="form-add__heading">Adres do faktury</label>
        <input type="text" id="address-texture">
    </div>
   <div class="columns">
       <div class="columns__item">
           <div class="form-group">
               <label for="address-post" class="form-add__heading">Kod pocztowy do faktury</label>
               <input type="text" id="address-post">
           </div>
       </div>
       <div class="columns__item">
           <div class="form-group">
               <label for="address-city" class="form-add__heading">Miejscowość do faktury</label>
               <input type="text" id="address-city">
           </div>
       </div>
       <div class="columns__item">
           <div class="form-group">
               <label for="nip-texture" class="form-add__heading">NIP do faktury</label>
               <input type="number" id="nip-texture">
           </div>
       </div>
   </div>
    <div class="form-add__actions">
        <button type="submit" class="btn btn--secondary">dodaj firmę</button>
        <a href="/lista-firm.html" class="btn btn--secondary">powrót</a>
    </div>
</form>