<form class="form-add">
    <h2>{{ tableTitle }}</h2>
    <div class="row">
        <div class="form-group">
            <label for="status-company" class="form-add__heading">Status użytkownika w firmie</label>
            <select id="status-company">
                <option value="Właściciel - pełne prawa">Właściciel - pełne prawa</option>
                <option value="Właściciel - ograniczone prawa">Właściciel - ograniczone prawa</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="name-company" class="form-add__heading">Nazwa firmy</label>
            <input type="text" id="name-company" placeholder="POLE OBOWIĄZKOWE">
        </div>
        <div class="form-group">
            <label for="address-contract" class="form-add__heading">Adres do umowy</label>
            <input type="text" id="address-contract" placeholder="POLE OBOWIĄZKOWE">
        </div>

        <div class="form-group">
            <label for="post" class="form-add__heading">Kod pocztowy do umowy</label>
            <input type="text" id="post" placeholder="xx-xxx">
        </div>
        <div class="form-group">
            <label for="nip-contract" class="form-add__heading">NIP do umowy</label>
            <input type="number" id="nip-contract">
        </div>
        <div class="form-group">
            <label for="regon" class="form-add__heading">REGON</label>
            <input type="text" id="regon">
        </div>
        <div class="form-group">
            <label for="key" class="form-add__heading">Kluczyk do skrytki</label>
            <select id="key">
                <option value="W biurze">W biurze</option>
                <option value="W posiadaniu klienta">W posiadaniu klienta</option>
            </select>
        </div>
        <div class="form-group">
            <label for="authorisation" class="form-add__heading">Pełnomocnictwo</label>
            <select id="authorisation">
                <option value="pełne">Pełne</option>
                <option value="ograniczone">Ograniczone</option>
                <option value="brak">Brak</option>
            </select>
        </div>
        <div class="form-group">
            <label for="accept2" class="form-add__heading">Firma potwierdziła NIP / REGON</label>
            <select id="accept2">
                <option value="Tak">Tak</option>
                <option value="Nie">Nie</option>
            </select>
        </div>
        <div class="form-group form-group--full-width">
            <label for="address" class="form-add__heading">Adres do korespondencji</label>
            <textarea id="address" cols="30" rows="10"></textarea>
        </div>
        <div class="form-group">
            <label for="address-email" class="form-add__heading">Adres email do wysyłki faktur</label>
            <input type="email" id="address-email">
        </div>
        <div class="form-group">
            <label for="address-texture" class="form-add__heading">Adres do faktury</label>
            <input type="text" id="address-texture">
        </div>
        <div class="form-group">
            <label for="address-post" class="form-add__heading">Kod pocztowy do faktury</label>
            <input type="text" id="address-post">
        </div>
        <div class="form-group">
            <label for="address-city" class="form-add__heading">Miejscowość do faktury</label>
            <input type="text" id="address-city">
        </div>
        <div class="form-group">
            <label for="nip-texture" class="form-add__heading">NIP do faktury</label>
            <input type="number" id="nip-texture">
        </div>
        <div class="form-add__actions">
            <button type="submit" class="btn btn--secondary">dodaj</button>
            <a href="/wirtualnebiuro/dodaj-uzytkownika-z-firma.html" class="btn btn--secondary">dodaj kolejny rekord</a>
            <a href="/wirtualnebiuro/dodaj-uzytkownika-z-firma.html" class="btn btn--secondary">dodaj i przejdź do edycji firmy</a>
            <a href="/wirtualnebiuro/dodaj-uzytkownika-z-firma.html" class="btn btn--secondary">dodaj i przejdź do edycji użytkownika</a>
            <a href="/wirtualnebiuro/lista-firm.html" class="btn btn--secondary">powrót</a>
        </div>
    </div>
</form>