<form class="form-add">
    <h2>{{ tableTitle }}</h2>
    <div class="form__group form__group--full-width">
        <h4>Nazwa firmy</h4>
        <input type="text" placeholder="POLE OBOWIĄZKOWE">
    </div>
    <div class="form__group form__group--full-width">
        <h4>Adres do umowy</h4>
        <input type="text" placeholder="POLE OBOWIĄZKOWE">
    </div>
    <div class="columns">
        <div class="columns__item">
            <div class="form__group">
                <h4>Kod pocztowy do umowy</h4>
                <input type="text" placeholder="xx-xxx">
            </div>
            <div class="form__group">
                <h4>NIP do umowy</h4>
                <input type="number">
            </div>
            <div class="form__group">
                <h4>REGON</h4>
                <input type="text">
            </div>
            <div class="form__group">
                <h4>Pełnomocnictwo</h4>
                <select>
                    <option value="pełne">Pełne</option>
                    <option value="ograniczone">Ograniczone</option>
                    <option value="brak">Brak</option>
                </select>
            </div>
        </div>
        <div class="columns__item">
            <div class="form__group">
                <h4>Miejscowośc do umowy</h4>
                <input type="text">
            </div>

            <div class="form__group">
                <h4>KRS</h4>
                <input type="number">
            </div>

            <div class="form__group">
                <h4>Skrytka pocztowa</h4>
                <input type="text">
            </div>
            <div class="form__group">
                <h4>Firma potwierdziła dokumenty NIP / REGON</h4>
                <div class="checkbox">
                    <input id="check-yes" type="checkbox">
                    <label for="check-yes">tak</label>
                </div>
                <div class="checkbox">
                    <input id="check-no" type="checkbox">
                    <label for="check-no">nie</label>
                </div>
            </div>
        </div>
        <div class="columns__item">
            <div class="form__group">
                <h4>Kluczyk do skrytki</h4>
                <div class="checkbox">
                    <input id="choice-1" type="checkbox">
                    <label for="choice-1">w biurze</label>
                </div>
                <div class="checkbox">
                    <input id="choice-2" type="checkbox">
                    <label for="choice-2">w posiadaniu klienta</label>
                </div>
            </div>
        </div>
    </div>
    <div class="form__group form__group--full-width">
        <h4>Adres do korespondencji</h4>
        <textarea cols="30" rows="10"></textarea>
    </div>
    <div class="form__group form__group--full-width">
        <h4>Adres email do wysyłki faktur</h4>
        <input type="email">
    </div>
    <div class="form__group form__group--full-width">
        <h4>Adres do faktury</h4>
        <input type="text">
    </div>
   <div class="columns">
       <div class="columns__item">
           <div class="form__group">
               <h4>Kod pocztowy do faktury</h4>
               <input type="text">
           </div>
       </div>
       <div class="columns__item">
           <div class="form__group">
               <h4>Miejscowość do faktury</h4>
               <input type="text">
           </div>
       </div>
       <div class="columns__item">
           <div class="form__group">
               <h4>NIP do faktury</h4>
               <input type="number">
           </div>
       </div>
   </div>
    <div class="form-add__actions">
        <button type="submit" class="btn btn--secondary">dodaj firmę</button>
        <a href="/lista-firm.html" class="btn btn--secondary">powrót</a>
    </div>
</form>