<div class="table" id="table">
    <table class="table-list" data-currentpage="1">

    <thead>
    <th>
        <button type="button" class="sort" data-sort="timestamp">ID
            <i class="caret"></i>
        </button>
    </th>
    <th>
        <button type="button" class="sort" data-sort="jSortNumber">nazwa firmy
            <i class="caret"></i>
        </button>
    </th>
    <th>
        <button type="button" class="sort" data-sort="jSortName">właściciel
            <i class="caret"></i>
        </button>
    </th>
    <th>
        <button type="button" class="sort" data-sort="jSortName">podany nip
            <i class="caret"></i>
        </button>
    </th>
    <th></th>
    <th></th>
    </thead>

    <!-- IMPORTANT, class="list" must be on tbody -->
    <tbody class="list">
    <tr data-timestamp="1509426000" data-status="3">
        <td class="minify">122133</td>
        <td class="minify jSortNumber">SONAR</td>
        <td class="minify jSortName">Anna Kowalczyk</td>
        <td class="minify textright jSortTotal">tak</td>
        <td>
            <a href="#"class="btn">usun</a>
        </td>
        <td>
            <a href="#"class="btn">edytuj</a>
        </td>
    </tr>
    <tr data-timestamp="1509339600" data-status="3">
        <td class="minify">343532</td>
        <td class="minify jSortNumber">jan Nowak</td>
        <td class="minify jSortName">Bravo</td>
        <td class="minify textright jSortTotal">nie</td>
        <td>
            <a href="#"class="btn">usun</a>
        </td>
        <td>
            <a href="#"class="btn">edytuj</a>
        </td>
    </tr>
    <tr data-timestamp="1508475600" data-status="1">
        <td class="minify">666632</td>
        <td class="minify jSortNumber">Andrzej Zalewski</td>
        <td class="minify jSortName">Nova</td>
        <td class="minify textright jSortTotal">nie</td>
        <td>
            <a href="#"class="btn">usun</a>
        </td>
        <td>
            <a href="#"class="btn">edytuj</a>
        </td>
    </tr><tr data-timestamp="1508475600" data-status="1">
        <td class="minify">666632</td>
        <td class="minify jSortNumber">Andrzej Zalewski</td>
        <td class="minify jSortName">Nova</td>
        <td class="minify textright jSortTotal">nie</td>
        <td>
            <a href="#"class="btn">usun</a>
        </td>
        <td>
            <a href="#"class="btn">edytuj</a>
        </td>
    </tr><tr data-timestamp="1508475600" data-status="1">
        <td class="minify">666632</td>
        <td class="minify jSortNumber">Andrzej Zalewski</td>
        <td class="minify jSortName">Nova</td>
        <td class="minify textright jSortTotal">nie</td>
        <td>
            <a href="#"class="btn">usun</a>
        </td>
        <td>
            <a href="#"class="btn">edytuj</a>
        </td>
    </tr><tr data-timestamp="1508475600" data-status="1">
        <td class="minify">666632</td>
        <td class="minify jSortNumber">Andrzej Zalewski</td>
        <td class="minify jSortName">Nova</td>
        <td class="minify textright jSortTotal">nie</td>
        <td>
            <a href="#"class="btn">usun</a>
        </td>
        <td>
            <a href="#"class="btn">edytuj</a>
        </td>
    </tr><tr data-timestamp="1508475600" data-status="1">
        <td class="minify">666632</td>
        <td class="minify jSortNumber">Andrzej Zalewski</td>
        <td class="minify jSortName">Nova</td>
        <td class="minify textright jSortTotal">nie</td>
        <td>
            <a href="#"class="btn">usun</a>
        </td>
        <td>
            <a href="#"class="btn">edytuj</a>
        </td>
    </tr><tr data-timestamp="1508475600" data-status="1">
        <td class="minify">666632</td>
        <td class="minify jSortNumber">Andrzej Zalewski</td>
        <td class="minify jSortName">Nova</td>
        <td class="minify textright jSortTotal">nie</td>
        <td>
            <a href="#"class="btn">usun</a>
        </td>
        <td>
            <a href="#"class="btn">edytuj</a>
        </td>
    </tr><tr data-timestamp="1508475600" data-status="1">
        <td class="minify">666632</td>
        <td class="minify jSortNumber">Andrea Konowska</td>
        <td class="minify jSortName">Nova Nova</td>
        <td class="minify textright jSortTotal">nie</td>
        <td>
            <a href="#"class="btn">usun</a>
        </td>
        <td>
            <a href="#"class="btn">edytuj</a>
        </td>
    </tr>
    </tbody>
    </table>
    <table class="table-footer">
        <tr>
            <td class="table-pagination">
                <button type="button" class="jPaginateBack">
                    <i class="fas fa-arrow-right"></i>
                </button>
                <ul class="pagination"></ul>
                <button type="button" class="jPaginateNext">
                    <i class="fas fa-arrow-left"></i>
                </button>
            </td>
            <td></td>
        </tr>
    </table>
</div>

