<div class="table">
    <h2>{{ tableTitle }}</h2>
    <table class="rwd-table">
        <tbody>
        <tr>
            <th>ID</th>
            <th>Nazwa firmy</th>
            <th>Właściciel</th>
            <th>Potwierdzony NIP</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td data-th="ID: ">
                61578
            </td>
            <td data-th="Nazwa firmy: ">
                SONAR
            </td>
            <td data-th="Właściciel: ">
                Wójtyńska Małgorzata
            </td>
            <td data-th="Potwierdzony NIP: ">
                tak
            </td>
            <td>
                <a href="#">edytuj firmę</a>
            </td>
            <td>
                <button class="btn--delete">usuń</button>
            </td>
        </tr>
        <tr>
            <td data-th="ID: ">
                61578
            </td>
            <td data-th="Nazwa firmy: ">
                SONAR
            </td>
            <td data-th="Właściciel: ">
                Wójtyńska Małgorzata
            </td>
            <td data-th="Potwierdzony NIP: ">
                tak
            </td>
            <td>
                <a href="#">edytuj firmę</a>
            </td>
            <td>
                <button class="btn--delete">usuń</button>
            </td>
        </tr>
        <tr>
            <td data-th="ID: ">
                61578
            </td>
            <td data-th="Nazwa firmy: ">
                SONAR
            </td>
            <td data-th="Właściciel: ">
                Wójtyńska Małgorzata
            </td>
            <td data-th="Potwierdzony NIP: ">
                tak
            </td>
            <td>
                <a href="#">edytuj firmę</a>
            </td>
            <td>
                <button class="btn--delete">usuń</button>
            </td>
        </tr>
        <tr>
            <td data-th="ID: ">
                61578
            </td>
            <td data-th="Nazwa firmy: ">
                SONAR
            </td>
            <td data-th="Właściciel: ">
                Wójtyńska Małgorzata
            </td>
            <td data-th="Potwierdzony NIP: ">
                tak
            </td>
            <td>
                <a href="#">edytuj firmę</a>
            </td>
            <td>
                <button class="btn--delete">usuń</button>
            </td>
        </tr>
        <tr>
            <td data-th="ID: ">
                61578
            </td>
            <td data-th="Nazwa firmy: ">
                SONAR
            </td>
            <td data-th="Właściciel: ">
                Wójtyńska Małgorzata
            </td>
            <td data-th="Potwierdzony NIP: ">
                tak
            </td>
            <td>
                <a href="#">edytuj firmę</a>
            </td>
            <td>
                <button class="btn--delete">usuń</button>
            </td>
        </tr>
        <tr class="row--warning">
            <td data-th="ID: ">
                61578
            </td>
            <td data-th="Nazwa firmy: ">
                SONAR
            </td>
            <td data-th="Właściciel: ">
                Wójtyńska Małgorzata
            </td>
            <td data-th="Potwierdzony NIP: ">
                tak
            </td>
            <td>
                <a href="#">edytuj firmę</a>
            </td>
            <td>
                <button class="btn--delete">usuń</button>
            </td>
        </tr>
        <tr class="row--danger">
            <td data-th="ID: ">
                61578
            </td>
            <td data-th="Nazwa firmy: ">
                SONAR
            </td>
            <td data-th="Właściciel: ">
                Wójtyńska Małgorzata
            </td>
            <td data-th="Potwierdzony NIP: ">
                tak
            </td>
            <td>
                <a href="#">edytuj firmę</a>
            </td>
            <td>
                <button class="btn--delete">usuń</button>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="pagination">
        <a href="#">nowsze</a>
        <a href="#">1</a>
        <a href="#" class="active">2</a>
        <a href="#">3</a>
        <a href="#">starsze</a>
    </div>
</div>

