<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer__logo">
                <img src="./assets/images/logo.png" alt="Archeion Wirtualne Biuro">
            </div>
            <p>Copyright: Archeion 2016<br>ARCHEION  Ul. Św. Filipa 23/1, <span>31-150 Kraków</span></p>
        </div>
    </div>
</footer>

