<header class="header">
   <div class="container">
      <div class="header__content">
         <div class="header__logo">
            <img src="./assets/images/wirtualnebiuro.png" alt="Wirtualne Biuro">
         </div>
         <div class="user">
            <div class="user__content">
               <div class="user__photo" style="background-image: url('./assets/images/avatar.png')"></div>
               <h3>
                  <span>zalogowany jako</span>
                  Garfield Bloomish
                  <a href="/">
                     <i class="fas fa-sign-out-alt"></i>
                  </a>
               </h3>
            </div>
         </div>
      </div>
   </div>
</header>
