<nav class="nav">
    <div class="nav__items">
        <a href="users.html" class="nav__item active">
            <span class="icon-test"></span>
            użytkownicy i firmy
        </a>
        <a href="users.html" class="nav__item">
            <span class="icon-test"></span>
            korespondencja
        </a>
        <a href="users.html" class="nav__item">
            <span class="icon-test"></span>
            faktury
        </a>
        <a href="users.html" class="nav__item">
            <span class="icon-test"></span>
            umowy
        </a>
        <a href="users.html" class="nav__item">
            <span class="icon-test"></span>
            raporty
        </a>
        <a href="users.html" class="nav__item">
            <span class="icon-test"></span>
            serwis
        </a>
    </div>
</nav>