<section class="login-panel" style="background-image: url('./assets/images/background.png')">
    <div class="container">
        <div class="login-panel__content">
            <div class="login-panel__logo">
                <img src="./assets/images/logo_wb.png" alt="Archeion">
            </div>
            <div class="login-panel__wrapper">
                <ul class="index-list">
                    <h1>Bezpośredni dostęp do zrobionych elementów</h1>
                    <li>
                        - <a href="/wirtualnebiuro/login.html">Panel logowania</a>
                    </li>
                    <li>
                        - <a href="/wirtualnebiuro/lista-firm.html">Lista firm</a>
                    </li>
                    <li>
                        - <a href="/wirtualnebiuro/lista-uzytkownikow.html">Lista uzytkowników</a>
                    </li>
                    <li>
                        - <a href="/wirtualnebiuro/dodaj-nowego-uzytkownika-z-firma.html">Dodaj nowego użytkownika z firmą</a>
                    </li>
                    <li>
                        - <a href="/wirtualnebiuro/lista-faktur.html">Lista faktur</a><br>
                        <small>
                            *(Akcja -> podgląd faktury(modal))<br>
                            *(Nr faktury -> rozwija się podgląd faktury)
                        </small>

                    </li>
                    <li>
                        - <a href="/wirtualnebiuro/dodaj-nowa-fakture.html">Dodaj fakturę</a>
                    </li>
                    <li>
                        - <a href="/wirtualnebiuro/lista-korespondencji.html">Lista korespondencji</a><br>
                        <small>
                            *(Właściciel -> pierwsza pozycja Wojtyńska Małgorzata -> strzałka w dół na końcu tabeli)
                        </small>
                    </li>
                    <li>
                        - <a href="/wirtualnebiuro/nowa-korespondencja.html">Nowa korespondencja</a>
                    </li>
                    <li>
                        - <a href="/wirtualnebiuro/karta-klienta.html">Karta klienta</a><br>
                        <small>
                            * (Akcja -> modal do - dodaj notatka oraz usun fakture)<br>
                            * (Plusik w kwadracie -> rozwinięcie podglądu faktury)<br>
                        </small>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
