<nav class="sub-nav">
    <div class="sub-nav__items">
        <a href="users.html" class="sub-nav__item active">lista firm</a>
        <a href="users.html" class="sub-nav__item">lista firm n/a</a>
        <a href="users.html" class="sub-nav__item">lista użytkowników</a>
        <a href="users.html" class="sub-nav__item">lista użytkowników n/a</a>
        <a href="users.html" class="sub-nav__item">dodaj nowego użytkownika z firmą</a>
        <a href="users.html" class="sub-nav__item">dodaj użytkownika</a>
        <a href="users.html" class="sub-nav__item">dodaj nową firmę</a>
    </div>
</nav>