<nav class="sub-nav">
    <div class="sub-nav__items">
        {% for item in subMenu %}
            <a href="{{ item.link }}" class="sub-nav__item {% if item.active %}active{% endif %}">
                {{ item.name }}
            </a>
        {% endfor %}
    </div>
</nav>