{% extends "layouts/default.twig" %}
{% block content %}
    <div class="column-wrapper">
        <div class="container">
            <div class="column-wrapper__content">
                <!-- SEARCH-FORM -->
                {% include "./sections/search-form.twig" %}

                {% include "sections/form-add-company.twig" %}
            </div>
        </div>
    </div>
{% endblock %}