{% extends "layouts/login.twig" %}
{% block content %}
    <div class="container">
        <ul class="index-list">
            <li>
                <a href="/wirtualnebiuro/login.html">Login</a>
            </li>
            <li>
                <a href="/wirtualnebiuro/lista-firm.html">Lista firm</a>
            </li>
            <li>
                <a href="/wirtualnebiuro/lista-firm-n-a.html">Lista firm n/a</a>
            </li>
            <li>
                <a href="/wirtualnebiuro/lista-uzytkownikow.html">Lista uzytkownikow</a>
            </li>
            <li>
                <a href="/wirtualnebiuro/lista-uzytkownikow-n-a.html">Lista uzytkownikow n/a</a>
            </li>
            <li>
                <a href="/wirtualnebiuro/dodaj-nowa-firme.html">Dodaj nową firmę</a>
            </li>
            <li>
                <a href="/wirtualnebiuro/dodaj-nowego-uzytkownika-z-firma.html">Dodaj nowego użytkownika z firma</a>
            </li>
            <li>
                <a href="/wirtualnebiuro/lista-faktur.html">lista faktur</a>
                (Akcja -> podgląd faktury(modal))
            </li>
            <li>
                <a href="/wirtualnebiuro/lista-faktur.html">lista faktur</a>
                (Nr faktury -> rozwija się podgląd faktury)
            </li>
            <li>
                <a href="/wirtualnebiuro/dodaj-nowa-fakture.html">Dodaj fakture</a>
            </li>
            <li>
                <a href="/wirtualnebiuro/karta-klienta.html">Karta klienta</a><br>
                * (Właściciel -> pierwsza pozycja Wojtyńska Małgorzata)<br>
                * (Akcja -> modal do - dodaj notatka oraz usun fakture)<br>
                * (Plusik w kwadracie -> rozwinięcie podglądu faktury)<br>
            </li>
        </ul>
    </div>
{% endblock %}