{% extends "layouts/login.twig" %}
{% block content %}
    <div class="container">
        <ul class="index-list">
            <li>
                <a href="/wirtualnebiuro/login.html">Login</a>
            </li>
            <li>
                <a href="/wirtualnebiuro/lista-firm.html">Lista firm</a>
            </li>
            <li>
                <a href="/wirtualnebiuro/lista-firm-n-a.html">Lista firm n/a</a>
            </li>
            <li>
                <a href="/wirtualnebiuro/lista-uzytkownikow.html">Lista uzytkownikow</a>
            </li>
            <li>
                <a href="/wirtualnebiuro/lista-uzytkownikow-n-a.html">Lista uzytkownikow n/a</a>
            </li>
            <li>
                <a href="/wirtualnebiuro/dodaj-nowa-firme.html">Dodaj nową firmę</a>
            </li>
            <li>
                <a href="/wirtualnebiuro/dodaj-nowego-uzytkownika-z-firma.html">Dodaj nowego użytkownika z firma</a>
            </li>
            <li>
                <a href="/wirtualnebiuro/lista-faktur.html">lista faktur</a>
                (Akcja -> podgląd faktury(modal))
            </li>
            <li>
                <a href="/wirtualnebiuro/dodaj-nowa-fakture.html">Dodaj fakture</a>
            </li>
        </ul>
    </div>
{% endblock %}