<div class="table">
    <h2>{{ tableTitle }}</h2>
    <div class="table-actions">
        <span class="table-actions__show">
            <i class="fas fa-times-circle"></i>
        </span>
        <div class="table-actions__content">
            <div class="table-actions__item">
                <div class="checkbox">
                    <input id="select-all" name="checkbox" type="checkbox">
                    <label for="select-all" class="change-mark">zaznacz wszystko</label>
                </div>
            </div>
            <div class="table-actions__item">
                <a href="#">eksport do FAKTu</a>
            </div>
            <div class="table-actions__item">
                <a href="#">eksport do optimy</a>
            </div>
            <div class="table-actions__item">
                <a href="#">eksport do pdf</a>
            </div>
            <div class="table-actions__item">
                <a href="#">eksport listy do pdf</a>
            </div>
            <div class="table-actions__item">
                <a href="#" class="btn btn--secondary">wyślij do firmy</a>
            </div>
            <div class="table-actions__item">
                <a href="#" class="btn btn--secondary">dodaj fakturę</a>
            </div>
        </div>
    </div>
    <table class="rwd-table">
        <tbody>
        <tr class="table__heading">
            <th class="checkbox">
                    <input id="select-all" name="checkbox" type="checkbox">
                    <label for="select-all"></label>
            </th>
            <th>ID
                <div class="sort">
                    <button class="fas fa-chevron-up sort-id-asc"></button>
                    <button class="fas fa-chevron-down sort-id-desc"></button>
                </div>
            </th>
            <th>Typ faktury
                <div class="sort">
                    <button class="fas fa-chevron-up sort-name-asc"></button>
                    <button class="fas fa-chevron-down sort-name-desc"></button>
                </div>
            </th>
            <th>Nr faktury
                <div class="sort">
                    <button class="fas fa-chevron-up sort-name-asc"></button>
                    <button class="fas fa-chevron-down sort-name-desc"></button>
                </div>
            </th>
            <th>Data wystawienia
                <div class="sort">
                    <button class="fas fa-chevron-up sort-name-asc"></button>
                    <button class="fas fa-chevron-down sort-name-desc"></button>
                </div>
            </th>
            <th>Kwota netto
                <div class="sort">
                    <button class="fas fa-chevron-up sort-name-asc"></button>
                    <button class="fas fa-chevron-down sort-name-desc"></button>
                </div>
            </th>
            <th>Kwota brutto
                <div class="sort">
                    <button class="fas fa-chevron-up sort-name-asc"></button>
                    <button class="fas fa-chevron-down sort-name-desc"></button>
                </div>
            </th>
            <th>Nabywca</th>
            <th>Umowa</th>
            <th>Sprzedawca</th>
            <th>Wysłana</th>
            <th>Zapłacona</th>
            <th>Forma płatności</th>
            <th>Akcja</th>
        </tr>
        <tr>
            <td data-th="Zaznacz:" class="checkbox">
                <input id="check-1" type="checkbox" class="selected-id" name="selected-id">
                <label for="check-1"></label>
            </td>
            <td data-th="ID: ">
                61578
            </td>
            <td data-th="Typ faktury:">Zwykła</td>
            <td data-th="Nr faktury:">P/2/22/WB/2019
            </td>
            <td data-th="Data wystawienia:">08.01.2019</td>
            <td data-th="Kwota netto: ">0.99</td>
            <td data-th="Kwota brutto: ">1.00</td>
            <td data-th="Nabywca: ">
                <a href="#">Wojtyńska</a>
            </td>
            <td data-th="Umowa:">
                <i class="fas fa-check"></i>
            </td>
            <td data-th="Sprzedawca:">
                Aleksander
            </td>
            <td data-th="Wysłana:">Nie</td>
            <td data-th="Zapłacona:">Nie</td>
            <td data-th="Forma płatności:">Przelew</td>
            <td data-th="Akcja: ">
                <div class="dropdown">
                    <button class="fas fa-chevron-down"></button>
                    <ul>
                        <li>
                            <a href="#">podgląd faktury html</a>
                        </li>
                        <li>
                            <a href="#">dodaj notatkę</a>
                        </li>
                        <li>
                            <a href="#">wystaw duplikat</a>
                        </li>
                        <li>
                            <a href="#">wyślij fakturę</a>
                        </li>
                        <li>
                            <a href="#">dodaj płatność</a>
                        </li>
                        <li>
                            <a href="#">otwórz fakturę</a>
                        </li>
                        <li>
                            <a href="#">generuj pdf</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td data-th="Zaznacz:" class="checkbox">
                <input id="check-2" type="checkbox" class="selected-id" name="selected-id">
                <label for="check-2"></label>
            </td>
            <td data-th="ID: ">
                61578
            </td>
            <td data-th="Typ faktury:">Zwykła</td>
            <td data-th="Nr faktury:">P/2/22/WB/2019
            </td>
            <td data-th="Data wystawienia:">08.01.2019</td>
            <td data-th="Kwota netto: ">0.99</td>
            <td data-th="Kwota brutto: ">1.00</td>
            <td data-th="Nabywca: ">
                <a href="#">Wojtyńska</a>
            </td>
            <td data-th="Umowa:">
                <i class="fas fa-minus"></i>
            </td>
            <td data-th="Sprzedawca:">
                Aleksander
            </td>
            <td data-th="Wysłana:">Nie</td>
            <td data-th="Zapłacona:">Nie</td>
            <td data-th="Forma płatności:">Przelew</td>
            <td data-th="Akcja: ">
                <div class="dropdown">
                    <button class="fas fa-chevron-down"></button>
                    <ul>
                        <li>
                            <a href="#">podgląd faktury html</a>
                        </li>
                        <li>
                            <a href="#">dodaj notatkę</a>
                        </li>
                        <li>
                            <a href="#">wystaw duplikat</a>
                        </li>
                        <li>
                            <a href="#">wyślij fakturę</a>
                        </li>
                        <li>
                            <a href="#">dodaj płatność</a>
                        </li>
                        <li>
                            <a href="#">otwórz fakturę</a>
                        </li>
                        <li>
                            <a href="#">generuj pdf</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="pagination">
        <a href="#">nowsze</a>
        <a href="#">1</a>
        <a href="#" class="active">2</a>
        <a href="#">3</a>
        <a href="#">starsze</a>
    </div>
</div>