<div class="modal" id="modal-2">
    <div class="modal__content modal__content--small">
        <div class="modal__border">
            <div class="modal__heading">
                <h3>Jesteś pewien, że chcesz usunąć fakturę?</h3>
            </div>
            <div class="modal__actions">
                <button class="btn btn--secondary">tak</button>
                <a href="/wirtualne/karta-klienta.html" class="btn btn--secondary">nie</a>
            </div>
        </div>
    </div>
</div>