<div class="modal" id="modal-3">
    <div class="modal__content modal__content--small">
        <div class="modal__border">
            <h3>Notatka</h3>
            <div class="close-content__actions">
                <button class="times close-modal">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <textarea name="note" cols="30" rows="10"></textarea>
            <div class="modal__actions">
                <a href="/wirtualne/karta-klienta.html" class="btn btn--secondary">dodaj notatkę</a>
            </div>
        </div>
    </div>
</div>