<div class="search-form">
    <form class="search-form__filter">
        <div class="search-form__item">
            <h4 class="collapse-group">wyszukaj firmę
                <i class="fas fa-chevron-down"></i>
            </h4>
            <div class="collapse-wrapper">
                <div class="search-form__group">
                    <label for="nip-company">nip</label>
                    <input type="text" id="nip-company">
                </div>
                <div class="search-form__group">
                    <label for="pesel-search2">pesel</label>
                    <input type="text" id="pesel-search2">
                </div>
                <div class="search-form__group">
                    <label for="krs-search2">KRS</label>
                    <input type="text" id="krs-search2">
                </div>
                <div class="search-form__group">
                    <label for="regon-search2">regon</label>
                    <input type="text" id="regon-search2">
                </div>
            </div>
        </div>
        <div class="search-form__actions">
            <button class="btn btn--secondary">resetuj wyniki</button>
        </div>
    </form>
</div>