<div class="search-form">
    <button class="btn btn--expand-filters">przełącz filtry</button>
    <form class="search-form__filter">
        <div class="search-form__item">
            <h4 class="collapse-group">wyszukaj użytkownika
                <i class="fas fa-chevron-down"></i>
            </h4>
            <div class="collapse-wrapper">
                <div class="search-form__group">
                    <label for="username">nazwisko</label>
                    <input type="text" id="username">
                </div>
                <div class="search-form__group">
                    <label for="company">nazwa firmy</label>
                    <input type="text" id="company">
                </div>
                <div class="search-form__group">
                    <label for="email-search">adres e-mail</label>
                    <input type="email" id="email-search">
                </div>
                <div class="search-form__group">
                    <label for="nip">nip</label>
                    <input type="text" id="nip">
                </div>
                <div class="search-form__group">
                    <label for="box-number">nr skrytki</label>
                    <input type="text" id="box-number">
                </div>
                <div class="search-form__group">
                    <label for="pesel-search">pesel</label>
                    <input type="text" id="pesel-search">
                </div>
                <div class="search-form__group">
                    <label for="krs-search">KRS</label>
                    <input type="text" id="krs-search">
                </div>
                <div class="search-form__group">
                    <label for="regon-search">regon</label>
                    <input type="text" id="regon-search">
                </div>
            </div>
        </div>
        <div class="search-form__actions">
            <button class="btn btn--secondary">resetuj wyniki</button>
        </div>
    </form>
</div>