<div class="card-shadow">
    <h2>{{ tableTitle }}</h2>
    <div class="timer">
        <div class="timer__content">
            <div class="timer__items">
                <div class="timer__item">
                    <h4>Rodzik Joanna</h4>
                    <div class="timer__item__wrapper">
                        <div class="timer__item__info">
                            <ul>
                                <li>
                                    <em>20.09.2020</em>
                                </li>
                                <li>
                                    <p>rozpoczęcie pracy:</p>
                                    <span>13:30</span>
                                </li>
                                <li>
                                    <p>czas pracy:</p>
                                    <span>3 h 45 min</span>
                                </li>
                                <li>
                                    <p>przerwy:</p>
                                    <span>13:30</span>
                                </li>
                            </ul>
                        </div>
                        <div class="timer__item__line__desktop">
                            <span data-start="13:30"  data-end="13:35" style="width: 10%" class="start"></span>
                            <span data-end="14:00" style="width: 10%;" class="break"></span>
                            <span data-end="15:17" style="width: 40%;" class="start"></span>
                            <span data-end="15:30" style="width: 5%;" class="break"></span>
                            <span data-end="16:45" style="width: 35%;" class="start"></span>
                        </div>
                        <div class="timer__item__line__mobile">
                            <span data-start="13:30" data-end="13:35" style="height: 10%" class="start"></span>
                            <span data-end="14:00" style="height: 10%" class="break"></span>
                            <span data-end="15:17" style="height: 40%" class="start"></span>
                            <span data-end="15:30" style="height: 5%" class="break"></span>
                            <span data-end="16:45" style="height: 35%" class="start"></span>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="timer__item">
                    <h4>Kowalska Anna</h4>
                    <div class="timer__item__wrapper">
                        <div class="timer__item__info">
                            <ul>
                                <li>
                                    <em>20.09.2020</em>
                                </li>
                                <li>
                                    <p>rozpoczęcie pracy:</p>
                                    <span>13:30</span>
                                </li>
                                <li>
                                    <p>czas pracy:</p>
                                    <span>3 h 45 min</span>
                                </li>
                                <li>
                                    <p>przerwy:</p>
                                    <span>13:30</span>
                                </li>
                            </ul>
                        </div>
                        <div class="timer__item__line__desktop">
                            <span data-start="13:30"  data-end="13:35" style="width: 10%" class="start"></span>
                            <span data-end="14:00" style="width: 10%;" class="break"></span>
                            <span data-end="15:17" style="width: 40%;" class="start"></span>
                            <span data-end="15:30" style="width: 5%;" class="break"></span>
                            <span data-end="16:45" style="width: 35%;" class="start"></span>
                        </div>
                        <div class="timer__item__line__mobile">
                            <span data-start="13:30" data-end="13:35" style="height: 10%" class="start"></span>
                            <span data-end="14:00" style="height: 10%" class="break"></span>
                            <span data-end="15:17" style="height: 40%" class="start"></span>
                            <span data-end="15:30" style="height: 5%" class="break"></span>
                            <span data-end="16:45" style="height: 35%" class="start"></span>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>